* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

}

.body {
    height: 100vh;
    background-color:;
}


.nav {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: powderblue;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 0 5px 5px grey;
    
}


.links {
    display: flex;
    gap: 20px;
}

.main {
    display: flex;
    height: fit-content;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0 10px;

}


.l-flank {
    height: 100vh;
    width: 50%;
    border-radius: 45px;
    background-color: wheat;
    padding: 50px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin: 30px;
    gap: 50px;
    



}

.span {
    color:brown;
}

.h3 {
    color:bisque;
}

img {
    width: 200px;
    height: fit-content;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;

}


.r-flank {
    height: 100vh;
    width: 50%;
    border-radius: 45px;
    background-color: salmon;
}
.footer {
    width: 100%;
    height: 20px;
    background-color: powderblue;

}
.footer {
    width: 100%;
    height: 90px;
    background-color: powderblue
}

@media screen {
    width: ;
    
}